{% extends 'base.html'  %}

{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Comments</th>
      <th scope="col">Trip</th>
    </tr>
  </thead>

{% for b in bookings %}

  <tbody>
    <tr>
      <td>{{ b.first_name }}</td>
      <td>{{ b.last_name }}</td>
      <td>{{ b.comments }}</td>
      <td>{{ b.travel.name }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}