{% extends 'base.html'  %}

{% block content %}

{% if perms.viewer.add_city %}
<a href="{% url 'create_city' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Create City</a>
{% endif %}

<hr>

{% for c in cities %}

<div class="text-center">
<div class="card mb-3" style="max-width: 600px;">
  {% if c.cover %}
    <img src="{{c.cover.url}}" class="card-img-top" width="300" height="auto">
  {% else %}
    <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300" height="auto">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'city_detail' c.id %}"><b>{{ c.name }}</b></a></h5>
  </div>
  </div>

{% endfor %}

</div>

{% endblock %}