{% extends 'base.html'  %}

{% block content %}

{% if perms.viewer.change_city %}
<a href="{% url 'update_city' city.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Update City</a>
{% endif %}

{% if perms.viewer.delete_city %}
<a href="{% url 'delete_city' city.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Delete City</a>
{% endif %}

<hr>

{%if city.cover %}
  <p> <img style="border:2px solid black" src="{{city.cover.url}}" width="500" height="auto"> </p>
{% else %}
  <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="500" height="auto"> </p>
{% endif %}


<h2>{{city.name}}</h2>
<p><b>Country:</b><a href="{% url 'country_detail' city.country.id %}" class="text-info"> {{city.country}}</a></p>
<p><b>Description:</b> {{city.description}}</p>

<a href="{% url 'travels' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Check out the available offers</a>

{% endblock %}