{% extends 'base.html'  %}

{% block content %}

{% if perms.viewer.change_country %}
<a href="{% url 'update_country' country.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Update Country</a>
{% endif %}

{% if perms.viewer.delete_country %}
<a href="{% url 'delete_country' country.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Delete Country</a>
{% endif %}

<hr>

<p><b>Name:</b> {{country.name}}</p>
<p><b>Country Code:</b> {{country.code}}</p>


{% endblock %}