{% extends 'base.html'  %}

{% block content %}

<a href="{% url 'update_travel' travel.id %}" class="btn btn-success">Update Trip</a>
<a href="{% url 'delete_travel' travel.id %}" class="btn btn-success">Delete Trip</a>

<hr>

<p><b>Name:</b> {{travel.name}}</p>
<p><b>City:</b> {{travel.city}}</p>
<p><b>Departure Date:</b> {{travel.date_of_departure}}</p>
<p><b>Return Date:</b> {{travel.date_of_return}}</p>
<p><b>Number of People:</b> {{travel.people}}</p>
<p><b>Type:</b> {{travel.type}}</p>
<p><b>Price:</b> {{travel.price}}</p>
<p><b>Description:</b> {{travel.description}}</p>


<a href="{% url 'book_travel' travel.id %}" class="btn btn-success">Book This Trip</a>

{% endblock %}
