{% extends 'base.html'  %}

{% block content %}

{% if perms.viewer.change_travel %}
<a href="{% url 'update_travel' travel.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Update Trip</a>
{% endif %}

{% if perms.viewer.delete_travel %}
<a href="{% url 'delete_travel' travel.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Delete Trip</a>
{% endif %}

<hr>

{%if travel.cover %}
  <p> <img src="{{travel.cover.url}}" width="500" height="auto" style="border-radius:5px"> </p>
{% else %}
  <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="500" height="auto"> </p>
{% endif %}


<h2>{{travel.name}}</h2>
<p><b>City:</b><a href="{% url 'city_detail' travel.city.id %}" class="text-info"> {{travel.city}}</a></p>
<p><b>Departure Date:</b> {{travel.date_of_departure}}</p>
<p><b>Return Date:</b> {{travel.date_of_return}}</p>
<p><b>Number of People:</b> {{travel.people}}</p>
<p><b>Price:</b> {{travel.price}} &#x20AC</p>
<p><b>Description:</b> {{travel.description}}</p>


<a href="{% url 'book_travel' travel.id %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Book This Trip</a>

{% endblock %}
