{% extends 'base.html'  %}

{% block content %}

{% if perms.viewer.change_travel %}
<a href="{% url 'update_travel' travel.id %}" class="btn btn-success">Update Trip</a>
{% endif %}

{% if perms.viewer.delete_travel %}
<a href="{% url 'delete_travel' travel.id %}" class="btn btn-success">Delete Trip</a>
{% endif %}

<hr>

{%if city.cover %}
  <p> <img src="{{city.cover.url}}" width="500" height="auto"> </p>
{% else %}
  <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="500" height="auto"> </p>
{% endif %}

<hr>

<p><b>Name:</b> {{travel.name}}</p>
<p><b>City:</b> {{travel.city}}</p>
<p><b>Departure Date:</b> {{travel.date_of_departure}}</p>
<p><b>Return Date:</b> {{travel.date_of_return}}</p>
<p><b>Number of People:</b> {{travel.people}}</p>
<p><b>Price:</b> {{travel.price}}</p>
<p><b>Description:</b> {{travel.description}}</p>


<a href="{% url 'book_travel' travel.id %}" class="btn btn-success">Book This Trip</a>

{% endblock %}
