{% extends 'base.html'  %}

{% block content %}

{% if bookings %}

{% for b in bookings %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-title"><b>First Name:</b> {{ b.first_name }}</p>
    <p class="card-title"><b>Last Name:</b> {{ b.last_name }}</p>
    <p class="card-text"><b>Comments:</b> {{ b.comments }}</p>
    <a href="{% url 'travels' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">{{ b.travel.name }}</a>
  </div>
</div>

{% endfor %}

{% else %}
<h5>
  <p>You currently have no bookings!</p>
  <p>Click <a href="{% url 'travels' %}">here</a> to see our available offers.</p>
</h5>
{% endif %}

{% endblock %}